<div class="mt-5">
    <div class="search-form-container col-7">
      <div class="text-center d-flex justify-content-center pt-4">
        <%= form_for :freight, :html =>{:class => "form-inline"}, method: :get do |f| %>
          <div class="form-group col-3 border-right">
            <%= f.label :departure %>
            <%= f.text_field :departure, placeholder: "| Departure City", class:"me-1 no-border"%>
          </div>

          <div class="form-group col-3 border-right">
            <%= f.label :destination, class:"form-label" %>
            <%= f.text_field :destination, placeholder: "| Arrival City", class:"me-1 no-border"%>
          </div>

          <div class="form-group col-3">
            <%= f.label :date, class:"form-label" %>
            <%= f.date_field :date, "data-provide" => 'datepicker', class: "no-border"  %>
          </div>

          <div class="search-form-action col-3 text-center">
            <div class="center-color-btn btn-redondo">
              <%= f.submit "Search", class: "btn " %>
            </div>
          </div>

        <% end %>
      </div>
    </div>
</div>
