<h2 class="">Upcoming Shipments</h2>
<div class="container">
  <div class="cards">
    <% @freights.each do |freight| %>
    <div class="">
      <div class="">
      <%= link_to "#{freight.destination}", "freight/#{freight.id}"%>
      </div>
      <div class="">
      Date: <%=freight.date %> <br>
      Departure: <%= freight.departure %> <br>
      Duration: <%=freight.destination %> <br>
      Price: <%= freight.price %> <br>
      <%= link_to 'Learn more', "freight/#{freight.id}"%>
      </div>
    </div>
    <% end %>
  </div>
</div>
