<div class="container">
  <div class="card mb-3 coo">
    <div class="row g-0">
      <div class="col-md-4">
<%# Displays a placeholder 'cover image' if a user doesn't upload one %>
          <% if @freight.cover_image.present? %>
            <%= image_tag @freight.cover_image.variant(resize: "500x300") %>
          <% else %>
            <%= image_tag 'truck-cover.jpg' %>
          <% end %>

      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Timeline</h5>


          <p class="card-text">
            <i class="fas fa-star"></i>
            <img src="https://i.pravatar.cc/300" class="card-trip-user avatar-bordered" />
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="cards p-4">
    <% @freight.gallery_images.each do |image| %>
      <div class="gallery-image-container">
        <%= image_tag image, class: "gallery-image" %>
      </div>
    <% end %>
</div>


<div class="text-center">
  <%  if @reservations.present? %>
  <h2 class="my-5" style="text-align: center;">Freight booked</h2>
  <% else %>
    <%= button_to "Book now", freight_reservations_path(@freight.id), method: :post, class:"btn btn-outline-secondary my-5" %>
  <% end %>
</div>
<div class="text-center">
  <% if @review.blank? %>
    <p class= "my-5">Be the first to leave a review for <%= @freight.destination %></p>
  <% end %>
  <div class="my-5">
    <%= simple_form_for([ @freight, @review ], remote: true) do |f| %>
      <%= f.input :stars, collection: [['0', 'Very Unsatisfied'], ['1', 'Unsatisfied'], ['2', 'Neutral'], ['3', 'Satisfied'], ['3', 'Very Satisfied']], label_method: :second, value_method: :first %>
      <%= f.input :comment, as: :text %>
      <%= f.submit %>
    <% end %>
  </div>
  <div class="my-5">
    <% @reviews.each do |review| %>
      <div class="review p-5">
        <div class="row d-flex">
          <img src="https://i.pravatar.cc/300" class="avatar-bordered">
          <div class="d-flex flex-column pl-3">
              <h4>Emily</h4>
              <p class="grey-text"><%= review.created_at %></p>
          </div>
        </div>
          <div class="row pb-3">
          <% review.stars.times do |f|%>
            <i class="fas fa-star"></i>
            <% end %>
            <div class="green-text">
                <h5 class="mb-0 pl-3">Poor</h5>
            </div>
          </div>
          <div class="row pb-3">
                        <p>This dive center is incredibly well organized and is at the top of its game.</p>
                    </div>
                    <div class="row ml-1">
                        <div class="row bg-light via">
                            <div class="px-2"><img src="https://i.imgur.com/8lJt6UN.png" width="18px" height="18px"></div>
                            <p class="grey-text mb-0 px-3">via Google</p>
                        </div>
                    </div>
                </div>
          <p class="pt-3" id="review-<%= review.id %>">- <%= review.comment %></p>
        <% end %>
  </div>
</div>
<div class="container-fluid px-0 py-5 mx-auto">
    <div class="row justify-content-center mx-0 mx-md-auto">
        <div class="col-lg-10 col-md-11 px-1 px-sm-2">
            <div class="card border-0 px-3">
                <!-- top row -->
                <div class="d-flex row py-5 px-5 bg-light">
                    <div class="green-tab p-2 px-3 mx-2">
                        <p class="sm-text mb-0">OVERALL RATING</p>
                        <h4>4.8</h4>
                    </div>
                    <div class="white-tab p-2 mx-2 text-muted">
                        <p class="sm-text mb-0">ALL REVIEWS</p>
                        <h4>124</h4>
                    </div>
                    <div class="white-tab p-2 mx-2">
                        <p class="sm-text mb-0 text-muted">POSITIVE REVIEWS</p>
                        <h4 class="green-text">93%</h4>
                    </div>
                    <div class="ml-md-auto p-2 mx-md-2 pt-4 pt-md-3"> <button class="btn btn-red px-4">WRITE A REVIEW</button> </div>
                </div> <!-- middle row -->
                <div class="row bg-light">
                    <div class="col-md-2 col-4 text-center block py-5">
                        <div class="round-icon"> <img src="https://i.imgur.com/8lJt6UN.png" width="50px" height="50px"> </div>
                        <p class="sm-text-1 grey-text mb-0">100</p>
                        <div class="fa fa-circle green-dot"></div>
                        <div class="fa fa-circle green-dot"></div>
                        <div class="fa fa-circle green-dot"></div>
                        <div class="fa fa-circle green-dot"></div>
                        <div class="fa fa-circle green-dot"></div>
                    </div>
                    <div class="col-md-2 col-4 text-center block py-5">
                        <div class="round-icon"> <img src="https://i.imgur.com/Grjnbah.png" width="50px" height="50px"> </div>
                        <p class="sm-text-1 grey-text mb-0">100</p>
                        <div class="fa fa-circle red-dot"></div>
                        <div class="fa fa-circle red-dot"></div>
                        <div class="fa fa-circle"></div>
                        <div class="fa fa-circle"></div>
                        <div class="fa fa-circle"></div>
                    </div>
                    <div class="col-md-2 col-4 text-center block py-5">
                        <div class="round-icon"> <img src="https://i.imgur.com/q2v8mqu.png" width="50px" height="50px"> </div>
                        <p class="sm-text-1 grey-text mb-0">100</p>
                        <div class="fa fa-circle yellow-dot"></div>
                        <div class="fa fa-circle yellow-dot"></div>
                        <div class="fa fa-circle yellow-dot"></div>
                        <div class="fa fa-circle"></div>
                        <div class="fa fa-circle"></div>
                    </div>
                    <div class="col-md-2 col-4 text-center block py-5">
                        <div class="round-icon"> <img src="https://i.imgur.com/EkmVVM1.png" width="50px" height="50px"> </div>
                        <p class="sm-text-1 grey-text mb-0">100</p>
                        <div class="fa fa-circle"></div>
                        <div class="fa fa-circle"></div>
                        <div class="fa fa-circle"></div>
                        <div class="fa fa-circle"></div>
                        <div class="fa fa-circle"></div>
                    </div>
                    <div class="col-md-2 col-4 text-center block py-5">
                        <div class="round-icon"> <img src="https://i.imgur.com/ZbZzavI.png" width="50px" height="50px"> </div>
                        <p class="sm-text-1 grey-text mb-0">100</p>
                        <div class="fa fa-circle"></div>
                        <div class="fa fa-circle"></div>
                        <div class="fa fa-circle"></div>
                        <div class="fa fa-circle"></div>
                        <div class="fa fa-circle"></div>
                    </div>
                    <div class="col-md-2 col-4 text-center block py-5">
                        <div class="round-icon"> <img src="https://i.imgur.com/S6SGKFQ.png" width="50px" height="50px"> </div>
                        <p class="sm-text-1 grey-text mb-0">100</p>
                        <div class="fa fa-circle"></div>
                        <div class="fa fa-circle"></div>
                        <div class="fa fa-circle"></div>
                        <div class="fa fa-circle"></div>
                        <div class="fa fa-circle"></div>
                    </div>
                </div> <!-- Review by user -->
                <div class="review p-5">
                    <div class="row d-flex">
                        <div class="profile-pic"><img src="https://i.imgur.com/Mcd6HIg.jpg" width="60px" height="60px"></div>
                        <div class="d-flex flex-column pl-3">
                            <h4>Emily</h4>
                            <p class="grey-text">30 min ago</p>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="fa fa-circle green-dot my-auto rating-dot"></div>
                        <div class="fa fa-circle green-dot my-auto rating-dot"></div>
                        <div class="fa fa-circle green-dot my-auto rating-dot"></div>
                        <div class="fa fa-circle green-dot my-auto rating-dot"></div>
                        <div class="fa fa-circle green-dot my-auto rating-dot"></div>
                        <div class="green-text">
                            <h5 class="mb-0 pl-3">Excellent</h5>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <p>This dive center is incredibly well organized and is at the top of its game.</p>
                    </div>
                    <div class="row ml-1">
                        <div class="row bg-light via">
                            <div class="px-2"><img src="https://i.imgur.com/8lJt6UN.png" width="18px" height="18px"></div>
                            <p class="grey-text mb-0 px-3">via Google</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
