<div class="container contact-container my-5 p-5">
  <div class="row justify-content-center">
    <div class="col-6 contact">
      <%= image_tag "get_in_touch.png", style:"width:100%"%>
    </div>
    <div class="col-6 contact">
      <h1>Get in touch with us</h1>
      <%= simple_form_for :contact do |f|%>
        <div class= "contact">
          <%= f.input :name %>
          <%= f.input :last_name %>
          <%= f.input :email %>
          <%= f.text_area :coments, placeholder: " Leave your coments", class: "contact-text-area" %>
          <div class="col text-center">
            <%= f.button :submit, class: "btn btn-contact btn-primary", value: "Send Message" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
